@import 'normalize';

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}


$alice-blue: #9cd6e4;
$cosmic-latte: #fff8e7;
$grey: #e2e2e2;

$text-color: black;

$primary-color: darken($alice-blue, 50%);
$primary-color-medium: $alice-blue;
$primary-color-light: lighten($alice-blue, 15%);
$primary-color-shadow: rgba(28, 87, 101, .2);

$secondary-color: darken(#de9ae2, 50%);
$secondary-color-medium: #de9ae2;
$secondary-color-light: lighten(#de9ae2, 15%);
$secondary-color-shadow: rgba(93, 28, 97, .2);

$disabled-color: darken($grey, 50%);
$disabled-color-medium: $grey;
$disabled-color-light: lighten($grey, 15%);
$disabled-color-shadow: rgba(99, 99, 99, .2);

$app-background-color: $cosmic-latte;
$background-color: white;

$heading-color: $primary-color;
$link-color: $primary-color;

$desktop-start: 800px;

$spacing-unit: 0.4em;

$input-marker-color: $primary-color;


body {
  font-size: 0.9em;
  font-family: Helvetica, Arial, sans-serif;
  color: $text-color;
  background-color: $background-color;
}

.title {
  color: $primary-color;
}

/* form elements */

select {
  border: 1px solid $primary-color;
  background-color: $primary-color-light;
  margin-bottom: $spacing-unit;
}

input, button {
  border: 1px solid $primary-color;
  background-color: $primary-color-light;
}

input, button, select {
  margin-bottom: $spacing-unit;
}

.with-border {
  border: 1px solid $primary-color;
}

div.line {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	height: 1px;
	width: 300px;
	background-color: #bdc8cf;
}

.alert {
	color: red;
}

.framework-validation-error {
  border-color: red;
}

.lookup-limiter {
  max-width: 400px;
}

#app-window {
  background-color: $app-background-color;
  padding: 8px;
  @include media-query($desktop-start) {
    max-width: 800px;
    margin: 0.6em;
    border: 1px solid $primary-color;
  }
}

#app-title {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  color: $heading-color;
  @include media-query($desktop-start) {
    text-decoration: none;
    position: absolute;
    top: 0;
    background-color: $app-background-color;
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    padding: 0 0.2em 0 0.2em;
  }
}

#menu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 0.5em;
}

a {
  color: $link-color;
  &:visited {
    color: $link-color;
  }
  &:hover {
    cursor: pointer;
  }
}

a.menu-link {
  text-decoration: none;
  flex-basis: 6em;
  color: $text-color;
  padding: 0.2em 1.2em 0.2em 1.2em;
  &:visited {
    color: $text-color;
  }
}

span.menu-link-disabled {
  padding: 0.2em 1.2em 0.2em 1.2em;
  flex-basis: 6em;
}

.button {
  border: 1px solid $primary-color;
  background-color: $primary-color-light;
  text-align: center;
  margin-bottom: $spacing-unit;
  box-shadow: 4px 4px 2px 1px $primary-color-shadow;
  &:hover {
    border: 1px solid $secondary-color;
    background-color: $secondary-color-light;
    box-shadow: 4px 4px 2px 1px $secondary-color-shadow;
    cursor: default;
  }
  &:focus {
    box-shadow: none;
  }
}

.button-disabled {
  border: 1px solid $disabled-color;
  background-color: $disabled-color-light;
  text-align: center;
  margin-bottom: $spacing-unit;
  text-align: center;
  box-shadow: 4px 4px 2px 1px $disabled-color-shadow;
  cursor: default;
}

.input-container, .input-container-collapse {
  border-left: 0.3em solid $input-marker-color;
  padding-left: $spacing-unit;
  margin-bottom: $spacing-unit;
  overflow-x: auto;
}

.input-sub-container {
  margin-bottom: $spacing-unit;
}

.input-container label {
  display: block;
  margin-bottom: $spacing-unit;
  @include media-query($desktop-start) {
    display: inline-block;
    width: 400px;
  }
}

.input-container-collapse label {
  display: block;
  margin-bottom: $spacing-unit;
}

.input-container.with-border {
  border: 1px solid, $secondary-color;
}

/*
#hiragana, #content, #meanings, #onyomi, #kunyomi {
  display: none;
}
*/

.hidden {
  display: none;
}

.bm {
  margin-bottom: $spacing-unit;
}

.kanji_title {
  font-weight: bold;
  color: $heading-color;
}

.input-container > .kanji_title {
  font-size: 1.6em;
}
